<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MajorMapper">
    <select id="list" resultType="com.example.pojo.Major">
        select *
        from
            major
        <where>
            <if test="name != null and name != ''">
                name LIKE '%' || #{name} || '%'
            </if>
            <if test="dept2Id != null">
                AND dept2_id = #{dept2Id}
            </if>
        </where>
    </select>
</mapper>